@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 70vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex:1;
  gap: 16px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: #ddd;
  align-items: center;
}

.right-links, .left-links {
  display: flex;
  justify-content: center;
  gap: 8px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 24px;
  font-weight: bold;
}

a {
  font-size: 14px;
  color: gray;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
