.header  {
  font-family: 'Courier New', Courier, monospace;
  background: papayawhip;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin: 0px 200px;
}

.logo {
  font-size: 48px;
  font-weight: bolder;
  color: tomato;
  background: white;
  padding: 4px 32px;

}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 24px;
  font-weight: bold;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}